# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Env / secrets
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
*.local
